/* ---------------- 📌 ⁡⁣⁣⁢L O C A T I O N   S C R E E N⁡ -------------- */

/* Wrapper for location step */
.location-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* overflow-y: auto; */
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  min-height: 10vh;
}

/* MAP IMAGE */
.map-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 31.25rem;
  max-height: 25rem;
  width: 70vw;
}

/* SEARCH LOCATION CONTAINER */
.search-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  max-width: 32rem;
  width: 100%;
  margin: 0.9375rem auto;
}

/* Input Text Box & Placeholder Text */
.input--search-location {
  max-width: 90rem;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  opacity: 0.9;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
}

/* Subtext */
.location-info {
  width: 100%;
  padding-bottom: 0.625rem;
  margin: 0 auto;
  font-size: 1rem;
  font-style: italic;
  color: #545454;
}
