[data-bs-theme="light"] {
  /* === Main body colors === */
  --bs-body-bg: #e9efe1;
  --bs-body-bg-rgb: 233, 239, 225;
  --bs-body-color: #007d1f;
  --bs-body-color-rgb: 0, 125, 31;

  /* === Emphasis (headings, nav links) === */
  --bs-emphasis-color: orange;
  --bs-emphasis-color-rgb: 255, 165, 0;

  /* === Border styling === */
  --bs-border-color: #4a7c59;
  --bs-border-color-translucent: 176, 151, 175;
}

.btn-primary {
  background-color: #287233 !important;
  border-color: #287233 !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #1e5b29 !important;
  border-color: #1e5b29 !important;
}

.loginbtn {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  border: #007d1f;
  outline: auto;
}

.loginbtn:hover {
  display: flex;
  background-color: #2effb6;
  outline: auto;
}

.icon-btn-nav {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border: #396444;
  outline-offset: 0.1rem;
}
.icon-btn-nav:hover {
  display: flex;
  background-color: #2effb6;
  outline: auto;
}
.logoo {
  display: flex;
  justify-content: center;
  max-height: 6rem;
  max-width: 4rem;
  padding: 0.5rem;
}
.hamNavBar1 {
  background-color: rgb(170, 237, 134);
}
/* .hamNavBar2 {
  background-color: rgba(23, 131, 50, 0.806);
} */

.nav-bar-text {
  color: rgb(0, 32, 19);
}

/* html,
body {
  height: 100%;
  margin: 0;
  background: url("testhome_screen_bg.png") no-repeat center center fixed;
  background-size: cover;
} */
