[data-bs-theme="light"] {
  /* === Main body colors === */
  --bs-body-bg: #e9efe1;
  --bs-body-bg-rgb: 233, 239, 225;
  --bs-body-color: #007d1f;
  --bs-body-color-rgb: 0, 125, 31;

  /* === Emphasis (headings, nav links) === */
  --bs-emphasis-color: orange;
  --bs-emphasis-color-rgb: 255, 165, 0;

  /* === Border styling === */
  --bs-border-color: #4a7c59;
  --bs-border-color-translucent: 176, 151, 175;
}

.btn-primary {
  background-color: #287233 !important;
  border-color: #287233 !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #1e5b29 !important;
  border-color: #1e5b29 !important;
}

.loginbtn {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border: #007d1f;
  outline: auto;
}

.loginbtn:hover {
  display: flex;
  background-color: #2effb6;
  outline: auto;
}

.icon-btn-nav {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border: #007d1f;
  outline: auto;
}
.icon-btn-nav:hover {
  display: flex;
  background-color: #2effb6;
  outline: auto;
}
