*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add Media queries later */

.background {
  background-image: url('background/home_screen_laptop_bg.png');
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --- CONTAINER MAIN - HEADER --- */
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* CONTAINER - LOGIN/REGISTER */
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 100px;
  height: 125px;
  padding: 20px;
}

.login-icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.login-text {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/* CONTAINER - MENU */
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.menu {
  width: 25px;
  height: 20px;

  cursor: pointer;
}
