/*  ------------------------- ⁡⁢⁢⁣Base/Reset⁡ -------------------------  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif, Arial;
  min-height: 100vh;
  width: 100vw;
}


/*  ------------------------- ⁡⁢⁢⁣Layout containers⁡ -------------------------  */
/* O V E R   A L L   C O N T A I N E R */

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.app-wrapperbackground.other {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

/* --- B A C K   G R O U N D S --- */
.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  max-height: 1024px;
  min-width: 320px;
  min-height: 600px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background.home {
  background-image: url('background/home_screen_laptop_bg.png');
}

.background.other {
  background-image: url('background/other_screen_bg_laptop.png');
}

.app-wrapper,
.background,
.home-visual {
  min-height: 844px;
}



/*  ------------------------- ⁡⁢⁢⁣Shared Components⁡ -------------------------  */
/* --- H E A D E R - Container - Other --- */
.header_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

/* Back Buttons */
.back-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  width: 2.75rem;
  height: 6.25rem;
}

.btn-back {
   background-color: transparent;
   border: none;
}

.back-icon {
  width: 1.5625rem;
  height: 1.25rem;
  cursor: pointer;
  background-color: transparent;
}

/* Login Container 1*/
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding-left: 4rem;
  width: 6.25rem;
  height: 7.8rem;
}

.login-icon {
  width: 3.43rem;
  height: 3.43rem;
  cursor: pointer;
}

.login-text {
  padding-top: 0.625rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

/* Container 2 */
.logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.1875rem;
  padding-right: 2rem;
}

.logo {
  width: 90px;
  height: 90px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #545454;
  line-height: 1.4;
  padding-top: 0.625rem;
}

/* Container 3 */
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  width: 2.5rem;
  height: 6.25rem;
}

.menu {
  width: 1.5625rem;
  height: 1.25rem;
  cursor: pointer;
}

/* --- P R O G R E S S   B A R --- */
.progress-wrapper {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  flex-shrink: 0;
}

.progress-label {
  font-size: 1rem;
  font-weight: 600;
  color: #545454;
}

.progress-bar {
  height: 0.625rem;
  margin-top: 0.3125rem;
  background-color: #ccc;
  border-radius: 0.25rem;
  overflow: hidden;
}

/* Step 1 */
.progress-fill {
  height: 100%;
  width: 33%;
  background-color: #77a741;
  transition: width 0.3s ease;
}

/* M A I N   C O N T E N T */
.main-content.report-issue {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 1.25rem;
  flex: 1 1 auto;
  min-height: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column; 
  flex: 1 1 auto;
  place-items: center;
  margin: 0 auto;
  max-width: 35rem;
  width: 100%;
  gap: 1.25rem;
  padding: 0 1.25rem;
  min-height: 0;      
}

.content-wrapper.confirm-wrapper,
.app-wrapper-reports {
                      
  display: flex;                   
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;            
  align-items: center;               
  width: 100%;
  max-width: 60rem;                   
  margin: 0 auto;
  gap: 1.25rem;
  padding: 0 1.25rem;
  padding-top: 3rem;
  min-height: 0;
}


/* P A G E   H E A D I N G (h1) */
.page-heading-wrapper {
  display: flex;
  justify-content: center;
  max-width: 31.25rem;
  margin: 0 auto;
  padding-top: 3.125rem;
}

.heading_main.report-issue {
  margin: 0 auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.5625rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #545454;
}

/* Upload image section */
.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 37.5rem;
}

.upload-icon {
  display: flex;
  width: 100%;
  aspect-ratio: 2/1;
  height: 11.25rem;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  padding-top: 1.2rem;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.subtext.upload-instruction {
  display: flex;
  justify-content: center;
  align-content: left;
  font-size: 1rem;
  font-weight: bold;
  color: #545454;
}

.subtext.optional-note {
  display: flex;
  justify-content: center;
  padding-top: 0.625rem;
  font-style: italic;
  font-weight: 400;
  color: #545454;
}

/* HIDDEN CONTENT */

/* learnt that this hides the text from view - but info is useful for screen readers */
.visually-hidden {
  position: absolute !important; /* take it out of the normal flow */
  width: 1px; /* shrink it down to a single pixel */
  height: 1px; /* shrink it down to a single pixel */
  margin: -1px; /* pull it off-screen just in case */
  padding: 0; /* no extra padding to expand it */
  border: 0; /* no border to make it visible */
  clip: rect(0 0 0 0); /* clip any remaining pixel so nothing shows */
  white-space: nowrap; /* prevent the text from wrapping out of the tiny box */
  overflow: hidden; /* hide any overflowing content */
}

/* B U T T O N S */
.btn {
  font-size: 1rem;
  min-width: 11.0625rem;
  min-height: 2.75rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  color: #545454;
  background-color: #F0F1F0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* NEXT BUTTON */
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-size: 1rem;
  gap: 0.75rem;
  cursor: pointer;
}

.btn-icon-next {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0rem;
  padding-left: 0rem;
}


/* --- F O O T E R --- */

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: auto; /* makes the footer always drop to the bottom*/
  background: transparent;
  padding: 0 0.625rem;
  padding-bottom: 2.5rem;
  flex-shrink: 0;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  width: 100%;
}

/* ------------------- 🏠 ⁡⁣⁢⁢H O M E   S C R E E N ⁡--------------------- */
/* --- CONTAINER MAIN - Main Content  - Home Screen  --- */

.header_container-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1.5rem 2.5rem 0 2.5rem;
  box-sizing: border-box;
}

/* Login Container 1*/
.login_container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding-left: 7rem;
  width: 6.25rem;
  height: 7.8125rem;
}

/* M A I N   C O N T E N T */

.main-content.home {
  position: absolute;
  top: 15.625rem; 
  right: 3.75rem; 
  z-index: 5;
}

.heading_main--home {
  padding-top: 6.875rem;
  font-size: 1.75rem;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: #545454;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5rem;
}

.subtext.home {
  padding-top: 1.70rem;
  line-height: 1.6;
  color: #545454;
  max-width: 23rem;
}

/* Home Visual Section */
.home-visual {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 340px;
  flex: 1 1 auto;
  z-index: 1;
}

.icon {
  position: absolute;
  width: 8vw;
  min-width: 48px;
  max-width: 120px;
  height: auto;
}

.icon.light {
  width: 230px;    
  max-width: 230px;
  min-width: 120px;
  left: 24%; 
  top: 77%;
}

.icon.tree     { left: 1%;  top: 40%; }
.icon.bench    { left: 9%;  top: 46%; }
.icon.graffiti { left: 14%; top: 73%; }
.icon.path     { left: 1%;  top: 80%; }
.icon.bin      { left: 40%; top: 55%; }
.icon.pothole  { left: 43%; top: 85%; }


/* 𝗠 𝗘 𝗗 𝗜 𝗔   𝗤 𝗨 𝗘 𝗥 𝗜 𝗘 𝗦 */

@media (max-width: 1200px) {
  .icon { width: 10vw; max-width: 100px; }
  .icon.tree     { left: 1%;  top: 40%; }
  .icon.bench    { left: 3%;  top: 52%; }
  .icon.graffiti { left: 10%; top: 73%; }
  .icon.path     { left: 1%;  top: 84%; }
  .icon.light    { left: 20%; top: 80%; }
  .icon.bin      { left: 44%; top: 60%; }
  .icon.pothole  { left: 43%; top: 85%; }

  .icon.light { max-width: 182px; }
}

/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟭𝟭𝟱𝟬𝗽𝘅------------------  */
@media (max-width: 1150px) {
  .icon { width: 10vw; max-width: 100px; }
  .icon.tree     { left: 1%;  top: 42%; }
  .icon.bench    { left: 16%;  top: 48%; }
  .icon.graffiti { left: 7%; top: 73%; }
  .icon.path     { left: 1%;  top: 89%; }
  .icon.light    { left: 17%; top: 81%; }
  .icon.bin      { left: 44%; top: 60%; }
  .icon.pothole  { left: 43%; top: 85%; }

  .icon.light { max-width: 192px; }

    .main-content.home {
      position: absolute;
      top: 12.625rem; 
      right: 3.75rem; 
      z-index: 5;
    }

}

 /* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟵𝟬𝟬𝗽𝘅------------------  */

@media (max-width: 900px) {
  .icon { width: 14vw; max-width: 70px; }
  .icon.tree     { left: 6%; top: 45%; }
  .icon.bench    { left: 20%; top: 58%; }
  .icon.graffiti { left: 7%; top: 72%; }
  .icon.path     { left: 1%; top: 94%; }
  .icon.light    { left: 17%; top: 85%; }
  .icon.bin      { left: 38%; top: 60%; }
  .icon.pothole  { left: 41%; top: 90%; }

   .icon.light { max-width: 145px; }

    .main-content.home {
      position: absolute;
      top: 12.625rem; 
      right: 3.75rem; 
      z-index: 5;
    }
}

/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟳𝟵𝟴𝗽𝘅------------------  */

@media (max-width: 798px) {
  .icon { width: 14vw; max-width: 70px; }
  .icon.tree     { left: 2%; top: 64%; }
  .icon.bench    { left: 20%; top: 70%; }
  .icon.graffiti { left: 18%; top: 85%; }
  .icon.path     { left: 2%; top: 94%; }
  .icon.light    { left: 28%; top: 86%; }
  .icon.bin      { left: 72%; top: 82%; }
  .icon.pothole  { left: 48%; top: 80%; }

   .icon.light { max-width: 145px; }

    .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 11rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }
  
    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }

      .background.home {
  background-image: url('background/home_screen_mobile_bg.png');
  }
}


/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟳𝟬𝟬𝗽𝘅------------------  */

@media (max-width: 700px) {
  .icon { width: 14vw; max-width: 70px; }
  .icon.tree     { left: 2%; top: 60%; }
  .icon.bench    { left: 20%; top: 66%; }
  .icon.graffiti { left: 20%; top: 77%; }
  .icon.path     { left: 2%; top: 94%; }
  .icon.light    { left: 28%; top: 86%; }
  .icon.bin      { left: 78%; top:72%; }
  .icon.pothole  { left: 44%; top: 78%; }

   .icon.light { max-width: 145px; }

    .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 9rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }
  
    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }

      .background.home {
  background-image: url('background/home_screen_mobile_bg.png');
  }
}



/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟲𝟱𝟬𝗽𝘅------------------  */

@media (max-width: 650px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 8rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

        .menu_container {
      padding-right: 5px;
  }
  
    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
  }


  /* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟲𝟬𝟬𝗽𝘅------------------  */

@media (max-width: 600px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 7rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

        .menu_container {
      padding-right: 5px;
  }
  
    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
  }



/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟱𝟴𝟬𝗽𝘅------------------  */
  @media (max-width: 580px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 6rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }
  
    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
  }

  /* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟱𝟯𝟬𝗽𝘅------------------  */
  
  @media (max-width: 530px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 4rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }

    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
}



/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟱𝟮𝟬𝗽𝘅 - (MOBILE VIEW)------------------  */

@media (max-width: 520px) {
  .icon { width: 14vw; max-width: 70px; }
  .icon.tree     { left: 5%; top: 57%; }
  .icon.bench    { left: 26%; top: 62%; }
  .icon.graffiti { left: 31%; top: 77%; }
  .icon.path     { left:5%; top: 85%; }
  .icon.light    { left: 43%; top: 83%; }
  .icon.bin      { left: 74%; top: 67%; }
  .icon.pothole  { left: 83%; top: 88%; }

   .icon.light { max-width: 140px; }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu,
    .menu_container {
      display: none;
    }

    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }

    .main-content.home {
      position: absolute;
      top: 8.625rem; 
      right: 3.75rem; 
      z-index: 5;
    }
   
 .footer-home {
    display: none;
   }
   
   .background.home {
  background-image: url('background/home_screen_mobile_bg.png');
  }
}

/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟰𝟴𝟬𝗽𝘅------------------  */
  
  @media (max-width: 480px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 2rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }

    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
}

/* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟰𝟮𝟬𝗽𝘅------------------  */
  
  @media (max-width: 420px) {
  .main-content.home {
      position: absolute;
      top: 7.625rem; 
      right: 1rem; 
      z-index: 5;
    }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu_container {
      padding-right: 5px;
  }

    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }
}

 /* ------------------ 𝗠𝗔𝗫 𝗪𝗜𝗗𝗧𝗛 𝟯𝟵𝟬𝗽𝘅------------------  */

@media (max-width: 390px) {
  .icon { width: 14vw; max-width: 70px; }
  .icon.tree     { left: 2%; top: 60%; }
  .icon.bench    { left: 26%; top: 62%; }
  .icon.graffiti { left: 28%; top:77%; }
  .icon.path     { left: 2%; top: 87%; }
  .icon.light    { left: 42%; top: 83.2%; }
  .icon.bin      { left: 72%; top: 66%; }
  .icon.pothole  { left: 83%; top: 85%; }

   .icon.light { max-width: 85px; }

    .login_container-home {
    padding-left: 0rem;
    }

    .menu,
    .menu_container {
      display: none;
    }

    .logo_container {
      padding-right: 0;
      padding-top: 1.5625rem;
    }

    .main-content.home {
      position: absolute;
      top: 8.625rem; 
      right: 0rem; 
      z-index: 5;
    }
   
 .footer-home_mobile {
  position: absolute;
  bottom: 1.5rem;
  right: 2.5rem;
  color: #818181;
  z-index: 10;
  background: transparent;
  font-size: 1rem;
  font-family: 'Inter', sans-serif, Arial;
  text-align: right;
  width: auto;
  margin: 0;
  padding: 0;
}

   .background.home {
  background-image: url('background/home_screen_mobile_bg.png');
  }

  .footer-home {
    display: none;
   }
}

.footer-home_mobile {
  display: none;
}

/* ----------------------------------------------------------------------------------- */

/* FOOTER - HOME */

.footer-home {
  position: absolute;
  bottom: 1.5rem;
  right: 2.5rem;
  color: #818181;
  z-index: 10;
  background: transparent;
  font-size: 1rem;
  font-family: 'Inter', sans-serif, Arial;
  font-weight: 400;
  text-align: right;
  width: auto;
  margin: 0;
  padding: 0;
}



/* ---------------- 📑 ⁡⁢⁣⁢R E P O R T   I S S U E   S C R E E N  * 💡 L I G H T S⁡ ---------------- */

.issue-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  border: none;
}

/* category buttons */
.btn-flickering-light,
.btn-light-off,
.btn-pole-damaged,
.btn-light-other {
  display: grid;
  align-items: center;
  background: url('images/button.png') center/cover no-repeat;
  aspect-ratio: 4/1;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
}

.label-flickering-light,
.label-light-off,
.label-pole-damaged,
.label-light-other {
  z-index: 1;
  color: #545454;
  font-size: 1.25rem;
  text-align: center;
  padding: 0 auto;
}

/* user input field */
.other-description {
  display: grid;
  grid-column: 1 / -1;
}

.input-other {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
}

/* .other-description {
  display: none;
} LATER FOR JS USE - to hide 'other' inut until button is clicked */


/*  --------------- ⁡⁢⁣⁢📑 R E P O R T   I S S U E   S C R E E N  * 🪑 B E N C H E S ⁡--------------- */
/* -- CONTAINER MAIN - Main Content - Report Issue Screen -- */

/* category buttons */
.btn--broken-bench,
.btn--loose-unstable,
.btn-vandalized,
.btn--missing-bench,
.btn-bench-other {
  display: grid;
  align-items: center;
  background: url('images/button.png') center/cover no-repeat;
  aspect-ratio: 4/1;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
}

.label--broken-bench,
.label--loose-unstable,
.label-vandalized,
.label--missing-bench,
.label-bench-other {
  z-index: 1;
  color: #545454;
  font-size: 1.25rem;
  text-align: center;
  padding: 0 auto;
}

/* user input field */
.other-description {
  display: grid;
  grid-column: 1 / -1;
}

.input-other {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
}


/* ---------------- ⁡⁢⁣⁢📑 R E P O R T   I S S U E   S C R E E N  * 🌴 T R E E S⁡ ---------------- */
/* -- CONTAINER MAIN - Main Content - Report Issue Screen -- */

/* category buttons */
.btn--tree-fallen-branch,
.btn--tree-blocking-path,
.btn--damaged-leaning-tree,
.btn-trees-other {
  display: grid;
  align-items: center;
  background: url('images/button.png') center/cover no-repeat;
  aspect-ratio: 4/1;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
}

.label--tree-fallen-branch,
.label--tree-blocking-path,
.label--damaged-leaning-tree,
.label-trees-other {
  z-index: 1;
  color: #545454;
  font-size: 1.25rem;
  text-align: center;
  padding: 0 auto;
}

/* user input field */
.other-description {
  display: grid;
  margin-top: 0.625rem;
  gap: 0.3125rem;
  grid-column: 1 / -1;
}

.input-other {
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
}


/* ---------------- 📌 ⁡⁣⁣⁢L O C A T I O N   S C R E E N⁡ -------------- */

/* PROGRESS BAR - STEP 2*/
.progress-fill-step2 {
  height: 100%;
  width: 75%;
  background-color: #77a741;
  transition: width 0.3s ease;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  min-height: 10vh;
}

/* IMAGE */
.map-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 43.75rem;
  max-height: 25rem;
}

/* SEARCH LOCATION */
/* Search Container */
.search-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  max-width: 32rem;
  width: 100%;
  margin: 0.9375rem auto;
}

/* Input Text Box & Placeholder Text */
.input--search-location {
  max-width: 90rem;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
}

/* Subtext */
.location-info {
  width: 100%;
  padding-bottom: 0.625rem;
  margin: 0 auto;
  font-size: 1rem;
  color: #545454;
}


/* ---------------- ⁡⁢⁣⁣🪟 P R E V I E W   ⁡⁡⁢⁣⁣S C R E E N⁡ ---------------- */

/* PROGRESS BAR - STEP 3*/
.progress-fill-step3 {
  height: 100%;
  width: 100%;
  background-color: #77a741;
  transition: width 0.3s ease;
}

/* Report Summary */
.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto;
  position: relative;
  line-height: 1.6;
}

.report-summary:nth-child(1) {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.report-address {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Upload image section */
.image-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 37.5rem;
}

.photo-icon {
  display: flex;
  width: 100%;
  aspect-ratio: 2/1;
  height: 18.25rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.attached_photo-text {
  display: grid;
  justify-self: center;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: #545454;
}

/* BUTTON */
.send-report-button {
  display: flex;
  align-items: center;
  background-color: #dde9ba;
  border: solid 0.25rem #77a741;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.btn-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/* ---------------- ✅⁡⁢⁢⁢ C O N F I R M A T I O N   S C R E E N ⁡---------------- */

/* Envelope Image */
.envelope_img {
  display: flex;
  width: 9.375rem;
  height: 9.375rem;
  margin: 0 auto;
}

.confirm-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 100%;
}

.main-content_confirm{
  width: 100%;
  display: grid;
  padding-top: 1.25rem;
}

.confirm-pg_container {
  display: grid;
  grid-template-columns: 1.2fr auto 1fr;
  grid-template-rows: repeat(7, auto);
  position: relative;
}

.heading_h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: left;
  justify-self: left;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.sub-heading {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: left;
  justify-self: left;
}

.ul_confirmation-pg {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: left;
  justify-self: left;
  margin-top: 1rem;
}

.li_con-layout {
  line-height: 1.5;
  font-size: 1.2rem;
}

.track-report {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: left;
  justify-self: left;
}

.visit-dashboard {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: left;
  justify-self: left;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.ul_confirmation-pg {
  margin-bottom: 2rem;
  list-style-position: inside;
  padding-left: 0.5rem;
}

.report-note {
  grid-column: 2/3;
  grid-row: 6/7;
  margin-top: 4rem;
  font-size: 1.2rem;
  align-self: left;
  justify-self: left;
  color: #545454;
  border-left: 0.1875rem solid #999;
  padding-left: 1rem;
  line-height: 1.6;
}

/* FOOTER - CONFIRMATION SCREEN*/
.footer-confirmation-pg {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 100%;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

/* BUTTON */
.view-report-button {
  justify-self: end;
  background-color: #dde9ba;
  border: solid 0.25rem #77a741;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

/* ---------------- 🗂️ A L L   R E P O R T S   S C R E E N ---------------- */


/* SEARCH LOCATION */
/* Search Container */
.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  width: 100%;
  gap: 0.625rem;
  margin-bottom: 1rem;
}

.input--search-filter {
  min-width: 27rem;
  min-height: 2.75rem;
  width: 25rem;
  max-width: 21.875rem;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bdbdbd;
  line-height: 1.2;
  background-color: #fff;
}

.main-content-reports {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

/* MAIN CONTENT - SCROLL - ALL REPORTS */

.report-scroll-area {
  width: 100%;
  max-width: 38.5625rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background: #f5f6f8;
  border-radius: 1.5rem;
  box-shadow: 0 2px 24px rgba(120,120, 120 0.09);
}

.scroll-area {
  scroll-behavior: smooth;
}

/* width */
.report-scroll-area::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
.report-scroll-area::-webkit-scrollbar-track {
  background: #ABD038;
  border-radius: 100vw;
  margin-block: 0.5rem;
}

/* Handle */
.report-scroll-area::-webkit-scrollbar-thumb {
  background: #77A741;
  border-radius: 100vw;
}

/* Handle on hover */
.report-scroll-area::-webkit-scrollbar-thumb:hover {
  background: hsl(120, 85%, 24%);
}

.report-card {
  display: flex;
  width: 36.5625rem;
  min-height: 11.875rem;
  border: 0.006rem solid #545454;
  border-radius: 1.125rem;
  box-shadow: 0 2px 12px rgba(90, 90, 90, 0.06);
  background-color: #e7e9e9;
}

/* icon section (left) */
.report-card_icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  padding: 3rem 2rem;
}

.light_ico,
.tree_ico,
.bin_ico {
  width: 2.5rem;
  height: 3.5rem;
}

.bench_ico {
  width: 3.5rem;
  height: 2.5rem;
}

.report-details {
display: flex;
flex-direction: column;
justify-content: center;
flex: 1;
padding: 2rem;
}

.status-container{
display: flex;
align-items: center;
margin-top: 0.5rem;
}

.card_icon-status {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.report-title {
margin-bottom: 1.2rem;
}

/* labels bold */
.label {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.1rem;
}


/* FOOTER - ALL REPORTS */
.status-footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.status-label {
  font-size: 1.4rem;
  color: #000;
  font-weight: 550;
  padding-top: 42px;
  
}

.status-key ul {
display: flex;
justify-content: flex-end;
text-align: center;
margin-top: auto;
padding-top: 1rem;
list-style: none;
gap: 2rem;
}

.status-key {
  padding: 1rem;
  text-align: center;
}

.status-item {
  display: flex;
}

.status-icon-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}

.status-icon {
  width: 1.25rem;
  height: 1.25rem;
}


